@charset "utf-8";

/*  Stylesheet for Printing resume.html  */

@page {
    size: 8.5in 11in;
    margin: 1in;
}

@media only print {

    header, footer {
       display: none;
    }

    :root {
        --center: 0 auto;
        --dark: #423629;
        font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
    }

    body {
        line-height: 18pt;
        font-size: 12pt;
    }

    h2 {
        font-size: 16pt;
        margin-left: 200pt;
    }

    #heading p {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-size: 11pt;
        line-height: 15pt;
    }

    #heading p::after {
        content: "email: nsmullen@my.milligan.edu | LinkedIn: https://www.linkedin.com/in/noahmullen/";
    }

    #heading {
        margin-bottom: 10pt;
        border-top: 3pt solid var(--dark);
        border-bottom: 3pt solid var(--dark);
        padding-top: 2pt;
        padding-bottom: 2pt;
    }

    main div:first-of-type p {
        margin: var(--center);
    }

    h3 {
        text-decoration: underline;
        font-size: 16pt;
    }

    main div > ul {
        list-style-type: square;
        list-style-position: inside;
    }

    main div ul ul {
        list-style-type: circle;
        list-style-position: inside;
        margin-left: 10pt;
    }

    main div {
        margin-bottom: 5pt;
        border-bottom: 1pt solid var(--dark);
    }

   /* main div p span {
        float: right;
    }*/
}