@charset "utf-8";

/*  Stylesheet for survey.html  */

/*  -----------------------
    Universal Styles - All  
    -----------------------*/

:root {
    --center: 0 auto;
    --back: #e3d0d8;
    --dark: #423629;
    --blue: #1d70a2;
    --orange: #d58936;
    --green: #839788;
    color: var(--dark);
    font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
}

body {
    width: 80%;
    margin: var(--center);
    display: grid;
    background-color: var(--back);
}

header {
    width: 100%;
    font-size: 20pt;
    line-height: 1.5em;
    border-bottom: 10px solid var(--blue);
    background-color: var(--green);
    box-shadow: var(--dark) 0 2px 2px;
    margin-bottom: 5px;
}

header h1 {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
}

#page-nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

#page-nav a {
    text-decoration: none;
    color: inherit;
}

#page-nav a:hover {
    color: #ffffffc0;
}

footer {
    width: 100%;
    color: #fff;
    background-color: var(--dark);
    border-top: 10px solid var(--blue);
    box-shadow: var(--dark) 0 -2px 2px;
    margin-top: 5px;
}

footer div {
    display: flex;
    justify-content: center;
}

footer nav ul {
    margin: var(--center);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    max-width: 400px;
}

footer li a, footer li i {
    color: #fff;
    font-size: 1.5em;
}

/*  -------------------------
    Universal Styles - Survey
    -------------------------*/

    :root {
        --req: hsl(0, 60%, 50%);
    }

    #head h2, #head p {
        display: flex;
        justify-content: space-around;
    }

    #head {
        margin: 0 auto 10px auto;
        font-size: 1.25em;
        width: 100%;
        line-height: 1.5em;
        background-color: var(--orange);
        border-radius: 10px;
        box-shadow: var(--dark) 1px 2px 2px;
    }

    h2 {
        text-decoration: underline;
        font-size: 1.25em;
    }

    #easyQuestions, #hardQuestions {
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 5px;
    }

    #req {
        color: var(--req);
    }

    .req {
        color: var(--req);
    }

    .largeBox:focus:invalid, .smallBox:focus:invalid {
        box-shadow: var(--req) 0 0 5px;
    }

    form > fieldset > legend {
        border: 3px double var(--dark);
        box-shadow: var(--dark) 1px 1px 1px;
        width: max-content;
    }

    fieldset fieldset legend {
        border: 1px solid var(--dark);
    }

    input {
        margin-bottom: 5px;
    }

    #submit {
        display: flex;
        justify-content: center;
    }

/* ---------------------------
    Desktop and Tablet Styles 
   --------------------------- */

   @media only screen and (min-width: 481px) {

    .smallBox {
        width: 25%;
    }

    .largeBox {
        width: 40%;
    }
    
    textarea {
        width: 50%;
    }

   }

/* ---------------------------
         Mobile Styles 
   --------------------------- */

   @media only screen and (max-width: 480px) {

        .smallBox {
            width: 50%;
        }

        .largeBox {
            width: 100%;
        }

        textarea {
            width: 100%;
        }

   }