@charset "utf-8";

/*  Stylesheet for survey.html  */

/*  -----------------------
    Universal Styles - All  
    -----------------------*/

html {
    --center: 0 auto;
    --back: #e3d0d8;
    --dark: #423629;
    --blue: #1d70a2;
    --orange: #d58936;
    --green: #839788;
    color: #000000;
    font-family: 'Trebuchet MS', Verdana, Helvetica, sans-serif;
}

body {
    width: 80%;
    margin: var(--center);
    display: grid;
    background-color: var(--back);
}

header {
    width: 100%;
    font-size: 20pt;
    line-height: 1.5em;
    border-bottom: 10px solid var(--blue);
    background-color: var(--green);
    box-shadow: var(--dark) 0 2px 2px;
    margin-bottom: 5px;
}

header h1 {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
}

header nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

header nav a {
    text-decoration: none;
    color: inherit;
}

header nav a:hover {
    color: #ffffffc0;
}

footer {
    width: 100%;
    color: #fff;
    background-color: var(--dark);
    border-top: 10px solid var(--blue);
    box-shadow: var(--dark) 0 -2px 2px;
    margin-top: 5px;
}

footer div {
    display: flex;
    justify-content: center;
}

footer nav ul {
    width: 25%;
    margin: var(--center);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

footer li a, footer li i {
    color: #fff;
    font-size: 1.5em;
}

/*  -------------------------
    Universal Styles - Survey
    -------------------------*/

